.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}
.container {
  background-color: #282c34;

  display: grid;
  /*flex-direction: row;*/
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
}


.text {
  font-size: calc(10px + 2vmin);
  text-align: justify;
  grid-column: 4 /span 3;
}

.cellGrid {
  grid-column: 1 /span 2;

}
.text button {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cellRow {
  width: 10em;
  justify-content: space-around;
}

.fullRow {
  justify-content: space-between;
  width: 20em;

}

.cell {
  width: fit-content;
  border: azure;
}

.checksumRow {
  margin-top: 1em;
  border-style: dotted;
  border-color: red;
}

/*utility classes*/
.flex {
  display: flex;
}

.hide {
  display: none;
}